set protocols bgp {{ cloud_vpn_initiator_bgp_asn }} neighbor {{ cloud_vpn_responder_tunnel_ip }} ebgp-multihop 2
set protocols bgp {{ cloud_vpn_initiator_bgp_asn }} neighbor {{ cloud_vpn_responder_tunnel_ip }} remote-as {{ cloud_vpn_responder_bgp_asn }}
set protocols bgp {{ cloud_vpn_initiator_bgp_asn }} neighbor {{ cloud_vpn_responder_tunnel_ip }} soft-reconfiguration inbound
set protocols bgp {{ cloud_vpn_initiator_bgp_asn }} neighbor {{ cloud_vpn_responder_tunnel_ip }} timers holdtime 30
set protocols bgp {{ cloud_vpn_initiator_bgp_asn }} neighbor {{ cloud_vpn_responder_tunnel_ip }} timers keepalive 30
set protocols bgp {{ cloud_vpn_initiator_bgp_asn }} network {{ cloud_vpn_initiator_cidr }}
