set protocols static interface-route {{ cloud_vpn_responder_cidr }} next-hop-interface vti0 distance 1
set protocols static interface-route {{ cloud_vpn_responder_cidr }} next-hop-interface vti1 distance 2
